{% extends 'base.html' %}
{%load static%}
{% block title %} Nosotros {% endblock title %}
{%block content%}

 
  <div class="container"> 
      <div class="row">
          <div class=" col-md-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h3 class=" site-heading my-4 mt-3 text-white">Sobre nuestra ONG</h3>
                  </p>
              </div>
          </div>
      </div>
  </div>


<!--  NOSOTROS -->
<section id="about" class="about">  
  <div
    </div>
    <div
     </div>
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Acerca de nosotros</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <h3> MISIÓN:</h3>
        
        <ul>
            Somos un movimiento de voluntarios que acompaña a personas en situación de soledad y vulnerabilidad, 
            creando y desarrollando espacios de confianza, alegría y esperanza
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3> VISIÓN: </h3>
        <ul>
            Gestar creativamente una sociedad comprometida en la justicia y solidaridad, que amando 
            y sirviendo pone la mirada en la persona y sus necesidades.            
        </ul>

      </div>
    </div>

  </div>
  <!--FINAL DE NOSOTROS-->


  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Equipo</h2>
        <p>Un equipo es un grupo de personas que trabajan juntas para lograr un propósito u objetivo compartido.
           Cada equipo es la suma de sus partes individuales, lo que significa que los miembros del equipo deben apoyarse unos a otros para poder lograr el resultado</p>
      </div>
  
      <div class="row">
  
        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="{%static 'assets/images/perfil.jpg' %}"class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Felicia Del Carmen Sambrana</h4>
              <span>Presidente</span>
              <p>Miembro fundador</p>
              <div class="social">               
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>               
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="{%static 'assets/images/perfil.jpg' %}"class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Arevalo Antolin Edy</h4>
              <span>Tesorero</span>
              <p>Encargado de Tesoreria</p>
              <div class="social">                
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>              
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="{%static 'assets/images/perfil.jpg' %}"class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Barrios Miguel Amadeo</h4>
              <span>secretario</span>
              <p>tareas administrativas</p>
              <div class="social">               
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>                
              </div>
            </div>
          </div>
        </div>      
  
      </div>
  
    </div>
  </section>
      
      
    </div>
  </section>


  {% endblock %}